/* Estilo para o header e o footer */
header, footer {
    background-color: #333; /* cor do cabeçalho e rodape */
    color: white; /* cor do texto */
    text-align: center;
    padding: 20px 0;
    border-radius: 0.5rem;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold; /* coloca o texto a negrito */
    transition: color 0.3s ease; /* faz uma trancição de 0.3s na mudança de cor (inicio, sobre e contacto) */
    border-radius: 0.5rem;
}

nav a:hover {
    color: #00bcd4; /* muda de cor ao passar o rato */
}

/* Layout para section com flexbox */
section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    border-radius: 0.5rem;
}

article {
    width: 100%; /* define a largura da barra do "Primeiro Artigo" */
    background-color: #f4f4f4; /* cor fundo da barra */
    padding: 20px; /* espaço entre o texto e a barra */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* sombra da barra */
    border-radius: 0.5rem; 
}

aside {
    margin-top: 30px; /* Cria um espaço de 30px entre o "Primeiro Artigo" e "Informações adicionais" */
    width: 35%; /* define a largura da barra do "Informações adicionais" */
    background-color: #e0e0e0; /* cor fundo da caixa de texto */
    padding: 20px; /* espaço entre o texto e a caixa de texto */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* sombra da caixa de texto */ 
    border-radius: 0.5rem;
}

/* Estilo para o formulário */
form {
    background-color: #fff;
    margin-top: 30px;
    display: block;
    padding: 1rem;
    max-width: 350px;
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    width: 40%; /* Define uma largura para o formulário */
    
}

form label {
    display: block;
    margin-bottom: 10px; /*Cria espaçamento de 10px entre o texto e o campo de input */
    font-weight: bold; /* coloca o texto a negrito */
}

form input, form textarea {
    width: 60%; /* define a largura da barra do "Contacto" */
    padding: 10px; /* espaço entre o texto e a caixa de texto */
    margin-bottom: 20px; /*Cria espaço entre um campo e outro.*/
    border: 1px solid #ccc; /* Cria uma borda cinza claro ao redor das caixas de texto brancas correspondentes a nome,email e menssagem */
    border-radius: 5px; /* arredonda as bordas das caixas de texto brancas */
    transition: border 0.3s ease; /* faz uma trancição de 0.3s na mudança de cor conforme carregamos nas caixas de texto brancas */
}

form input:focus, form textarea:focus {
    border: 1px solid #00bcd4; /* cor das bordas das caixas de texto passam para azul */
    outline: none;
}

button {
    border: none;
    outline: none;
    background-color: #00bcd4;
    padding: 10px 20px;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    border-radius: 5px;
    transition: all ease 0.1s;
    box-shadow: 0px 5px 0px 0px #008ba3;
}
  
  button:active {
    transform: translateY(5px);
    box-shadow: 0px 0px 0px 0px #00bcd4;
}
button:hover{
    background-color: #008ba3;

}

.container {
    background: rgb(78,79,81);
    background: linear-gradient(354deg, rgba(78,79,81,1) 0%, rgba(252,252,252,0) 100%, rgba(34,34,36,0.5887605042016807) 100%);
}

textarea{
    resize: none;
}